*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    background-image: url('assets/background.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-color: #E5E5E5;
}

h1{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px; 
    color: #000000; 
}
h2{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;  
    color: #494949;    
}
p{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}
span{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #494949;
}
a{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150.5%;  
    text-decoration-line: underline;  
    color: #9677EF;  
}
input{
    all: unset;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: text;

    padding: 15px 20px;
    margin-right: 10px;
}
input::placeholder{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px; 
    color: #494949;
}
button{
    all: unset;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    cursor: pointer;
    
    background: #9677EF;
    border-radius: 5px;

    padding: 12px 35px;
}
button:hover{
    background: rgba(150, 119, 239, 0.8);
    box-shadow: 0px 11px 20px rgba(150, 119, 239, 0.3);
}